* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: max-content;
    grid-template-rows: 400px 1000px 100px;
    overflow-x: hidden;
}






/* jumbotron */
div.jumbotron {
    position: relative;
    background-image: url('./maskerbos.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div.jumbotron .black {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}

div.jumbotron h2 {
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 2%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
    font-weight: lighter;
    text-align: center;
}







/* profile */
div.profile {
    z-index: 2;
    position: absolute;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    top: 45%;
    left: 43%;
    background-image: url('./image/2.jpg');
    background-position: center;
    background-size: cover;
}



/* main */
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section {
    display: flex;
    width: 1400px;
    justify-content: space-between;
}

main .mask1,
.mask2,
.mask3,
.mask4 {
    position: relative;
    width: 300px;
    height: 350px;
    background-color: blue;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 10px black;
}

.mask1 {
    background-image: url('./image/biru.jpg');
    background-position: center;
    background-size: cover;
}

.mask2 {
    background-image: url('./image/coklat.jpg');
    background-position: center;
    background-size: cover;
}

.mask3 {
    background-image: url('./image/pink.jpg');
    background-position: center;
    background-size: cover;
}

.mask4 {
    background-image: url('./image/hitam.jpg');
    background-position: center;
    background-size: cover;
}

.bottom {
    position: relative;
    background-color: white;
    width: 120px;
    height: 120px;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
}

.mask1 .bottom .color {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(9, 213, 240);
    border-radius: 50%;
}



.mask2 .bottom .color {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(175, 161, 116);
    border-radius: 50%;
}


.mask3 .bottom .color {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 119);
    border-radius: 50%;
}


.mask4 .bottom .color {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
}




main .mask5 {
    position: absolute;
    top: 800px;
    width: 600px;
    height: 150px;
    background-image: url('./image/custom.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    overflow: hidden;
}



main .mask5 h2 {
    position: absolute;
    top: 50%;
    left: 44%;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.opacityCustom {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
}

/* footer */
footer {
    background-color: rgb(41, 41, 41);
}




/* burger menu */
div.burgermenu {
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid tomato;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 166, 0), tomato);
}

.burgermenu a {
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .7em;
    font-weight: lighter;
}




/* css responsive */
@media screen and (max-width: 1400px) {
    body {
        grid-template-rows: 400px 1500px 200px;
    }

    div.profile {
        left: 40%;
    }

    div.section {
        width: 800px;
        height: 900px;
        flex-wrap: wrap;
    }

    main .mask5 {
        top: 1200px;
    }
}

@media screen and (max-width: 840px) {
    div.profile {
        left: 38%;
    }

    div.section {
        width: 700px;
        height: 800px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main .mask1,
    .mask2,
    .mask3,
    .mask4 {
        width: 250px;
        height: 300px;
    }

    main .mask5 {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    body {
        grid-template-rows: 300px 900px 100px;
    }

    div.profile {
        top: 30%;
        left: 25%;
    }

    div.section {
        width: 400px;
        height: 500px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main .mask1,
    .mask2,
    .mask3,
    .mask4 {
        width: 150px;
        height: 200px;
    }

    .bottom {
        width: 80px;
        height: 80px;
    }

    .mask1 .bottom .color,
    .mask2 .bottom .color,
    .mask3 .bottom .color,
    .mask4 .bottom .color {
        width: 30px;
        height: 30px;
    }


    main .mask5 {
        top: 700px;
        width: 350px;
    }

    main .mask5 h2 {
        left: 37%;
    }
}