* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.menu {
    display: none;
}

div.black {
    display: none;
}

div.smartphone {
    display: none;
}


main {
    width: 100%;
    height: 580px;
    background-color: rgb(255, 255, 255);

}

nav {
    display: grid;
    grid-template-columns: 50% 16.6% 16.6% auto;
    margin: 30px;
    grid-template-areas:
        "logo au pr sn";
}

nav img {
    margin-left: 30px;
    width: 100px;
}

nav a {
    text-decoration: none;
    justify-self: center;
    align-self: center;
    color: rgb(85, 85, 85);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav .au {
    grid-area: au;
    border-bottom: 2px solid rgb(255, 57, 57);
    padding: 6px 10px 6px 10px;
}

nav .pr {
    grid-area: pr;
    border-bottom: 2px solid rgb(255, 57, 57);
    padding: 6px 10px 6px 10px;
}

nav .sn {
    grid-area: sn;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background-color: rgb(216, 47, 47);
}

main img {
    position: absolute;
    top: 170px;
    right: .4%;
    width: 700px;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100% 100%;
    position: absolute;
    overflow: hidden;
    grid-template-areas:
        'one two';
    top: 270px;
    left: 80px;
    width: 500px;
    height: 200px;
    z-index: 1;
}


.container .subcon1 {
    position: relative;
    grid-area: one;
    margin-bottom: 30px;
}

.container .subcon2 {
    position: relative;
    grid-area: two;
    margin-bottom: 30px;
}


.container h1 {
    margin-bottom: 25px;
    font-family: 'Geometr706 BlkCn BT Black';
}

.container p {
    line-height: 1.6em;
    font-size: 1.1em;
    font-family: 'Bell MT';
}

.container h3 {
    position: absolute;
    top: 5px;
    right: 0;
    color: rgb(255, 51, 51);
    font-family: 'Geometr706 BlkCn BT Black';
}

.button {
    display: flex;
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 27px;
    top: 460px;
    left: 75px;
    justify-content: space-between;
    align-items: center;
}

.bullet {
    width: 20px;
    height: 20px;
    border: 3px solid rgb(255, 82, 82);
    border-radius: 50%;
    display: inline-block;
}

.selected {
    width: 27px;
    height: 27px;
    background: rgb(255, 77, 77);
}

.bullet:hover {
    width: 27px;
    height: 27px;
    background: rgb(255, 77, 77);
}

#about {
    height: 850px;
    position: relative;
    background-image: url('image/background.svg');
    background-size: cover;
}

#about h2 {
    position: absolute;
    top: 0;
    left: 45%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(61, 61, 61);
    padding: 6px 10px;
    border-bottom: 2px solid rgb(255, 83, 83);
}

#about .who {
    position: absolute;
    top: 100px;
    left: 15%;
    display: inline-block;
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
    border-radius: 10px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


#about .who .slide-up {
    position: absolute;
    bottom: -800px;
    height: 500px;
    width: 100%;
    border-radius: 50px;
    background-image: url('image/Photo.jpg');
    background-position: top;
    background-size: 19em;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;

}

#about .who:hover .slide-up {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    transform: translateY(-440px);
}

#about .who p {
    font-size: .8em;
    padding: 16px;
    position: absolute;
    top: 0;
    z-index: -1;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .who p.p1 {
    text-indent: 2em;
}

#about .who p.p2 {
    text-indent: 2em;
    top: 11em;
}

#about .who .slide-up h4 {
    position: absolute;
    width: 100%;
    height: 25rem;
    text-align: center;
    line-height: 500px;
    color: rgb(230, 228, 228);
    background-color: rgba(2, 2, 2, 0.466);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .who:hover p {
    z-index: 0;
}

#about .what {
    position: absolute;
    top: 100px;
    right: 15%;
    display: inline-block;
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

#about .what .slide-up {
    position: absolute;
    bottom: -600px;
    height: 500px;
    width: 100%;
    border-radius: 50px;
    background-image: url('image/logo.png');
    background-position: top;
    background-size: 16em;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;
}

#about .what:hover .slide-up {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    transform: translateY(-440px);
}

#about .what p {
    font-size: .8em;
    padding: 16px;
    position: absolute;
    top: 0;
    z-index: -1;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .what p.p1 {
    text-indent: 2em;
}

#about .what p.p2 {
    text-indent: 2em;
    top: 14em;

}

#about .what:hover p {
    z-index: 0;
}

#about .what .slide-up h4 {
    position: absolute;
    width: 100%;
    height: 25rem;
    text-align: center;
    line-height: 500px;
    color: rgb(230, 228, 228);
    background-color: rgba(2, 2, 2, 0.466);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#products {
    height: 850px;
    position: relative;
    background-image: url('image/background2.svg');
    background-size: cover;
}

#products h2 {
    position: absolute;
    top: 0;
    left: 45%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(61, 61, 61);
    padding: 6px 10px;
    border-bottom: 2px solid rgb(255, 83, 83);
}

#products .container-products {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 15%;
    width: 100%;
    height: 500px;
}

#products .container-products .products1,
.products2 {
    width: 25%;
    height: 20rem;
    background-color: white;
    border-radius: 20px;

}

#products .container-products .products1 {
    position: absolute;
    top: 10px;
    right: 15%;
    display: inline-block;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
    border-radius: 10px;
    overflow: hidden;
}

#products .container-products .products1 .slide-up {
    position: absolute;
    bottom: -90px;
    height: 500px;
    width: 100%;
    background-image: url('image/biru.jpg');
    background-position: top;
    background-size: 21em;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;

}

#products .container-products .products1:hover .slide-up {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    transform: translateY(-440px);
}

#products .container-products .products1 .slide-up h4 {
    position: absolute;
    width: 100%;
    height: 27rem;
    text-align: center;
    line-height: 500px;
    color: rgb(230, 228, 228);
    background-color: rgba(2, 2, 2, 0.466);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#products .container-products .products2 {
    position: absolute;
    top: 10px;
    left: 15%;
    display: inline-block;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
    border-radius: 10px;
    overflow: hidden;
}

#products .container-products .products2 .slide-up {
    position: absolute;
    bottom: -90px;
    height: 500px;
    width: 100%;
    background-image: url('image/custom.jpg');
    background-position: center;
    background-size: 35em;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;

}

#products .container-products .products2:hover .slide-up {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    transform: translateY(-440px);
}

#products .container-products .products2 .slide-up h4 {
    position: absolute;
    width: 100%;
    height: 27rem;
    text-align: center;
    line-height: 500px;
    color: rgb(230, 228, 228);
    background-color: rgba(2, 2, 2, 0.466);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


footer {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgb(87, 87, 87);
    overflow: hidden;
}


footer p {
    text-align: center;
    line-height: 90px;
    color: rgb(214, 214, 214);
    font-family: monospace;
}

footer .sos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .sos a img {
    width: 50px;
    margin-right: 20px;
}

footer .sos a:nth-last-child(1) {
    margin-left: 20px;
}

footer .sos .wall {
    width: 2px;
    height: 100px;
    background-color: rgb(107, 107, 107);
}

footer .copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(70, 70, 70);
    border-top: 2px solid rgb(255, 255, 255);
}

footer .copy h5 {
    color: white;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 30px;
}















/* on tablet */
@media only screen and (max-width:1224px) {

    .au,
    .pr,
    .sn {
        font-size: 12px;
    }

    main {
        height: 500px;
    }

    .container .subcon1,
    .subcon2,
    .subcon3 {
        /* top: 240px; */
        font-size: 13px;
    }

    .button {
        top: 440px;
    }

    .bullet {
        border: 2px solid rgb(255, 82, 82);
    }

    main img {
        top: 200px;
        width: 380px;
    }

    .container {
        width: 400px;
        height: 300px;
    }

    #about h2 {
        font-size: 17px;
    }

    #about .who,
    #about .what {
        width: 300px;
        height: 400px;
    }

    #about .who .slide-up {
        position: static;
        border-radius: 0;
    }

    #about .what .slide-up {
        position: static;
        border-radius: 0;
    }


    #products {
        height: 600px;
    }

    #products h2 {
        font-size: 17px;
    }

    #products .container-products .products1,
    .products2 {
        width: 30%;
        /* height: 80%; */
    }
}














/* on landscape smartphone */
@media only screen and (max-width: 800px) {
    nav {
        margin-top: 0;
    }


    .au,
    .pr,
    .sn {
        font-size: 12px;
    }

    main {
        height: 500px;
    }

    .container .subcon1,
    .subcon2,
    .subcon3 {
        /* top: 240px; */
        font-size: 13px;
    }

    .button {
        top: 440px;
    }

    .bullet {
        border: 2px solid rgb(255, 82, 82);
    }

    main img {
        top: 200px;
        width: 340px;
    }

    .container {
        top: 230px;
        width: 300px;
        height: 300px;
    }

    #about {
        height: 600px;
    }

    #about h2 {
        font-size: 17px;
    }

    #about .who,
    #about .what {
        width: 200px;
        height: 300px;
    }

    #about .who .slide-up {
        position: static;
        border-radius: 0;
    }

    #about .what .slide-up {
        position: static;
        border-radius: 0;
    }

    #products {
        height: 500px;
    }

    #products h2 {
        font-size: 17px;
    }

    #products .container-products .products1,
    .products2 {
        width: 25%;
        /* height: 60%; */
    }

    footer {
        height: 200px;
    }

    footer p {
        line-height: 50px;
    }

    footer .sos a img {
        width: 40px;
    }
}









/* on portrait smartphone */
@media only screen and (max-width: 720px) {
    nav {
        display: grid;
        flex-direction: column;
        grid-template-columns: 60% 0 0 40%;
    }

    nav img {
        margin: 0;
        width: 4rem;
    }

    nav .au,
    nav .pr {
        display: none;
    }

    div.menu {
        z-index: 99;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: rgb(255, 35, 35);
        top: -400px;
        transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;
    }

    .appear {
        transform: translateY(400px);
        transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;
    }


    div.smartphone {
        margin: 10px;
        display: grid;
        grid-template-columns: 50px, 20px;
        grid-template-rows: 70px;
        grid-template-areas:
            'logo burger';
    }

    div.smartphone img {
        grid-area: 'logo';
        width: 70px;
    }

    div.smartphone .burger {
        z-index: 999;
        position: relative;
        grid-area: 'burger';
        justify-self: right;
        margin: 20px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-image: linear-gradient(to top, rgb(252, 47, 47), rgb(255, 41, 41));
    }

    div.smartphone .burger .stack {
        position: absolute;
        top: 18px;
        left: 6px;
        z-index: 1;
        width: 30px;
        height: 3px;
        background-color: rgb(0, 0, 0);
    }

    div.smartphone .burger .stack:nth-child(1) {
        top: 10px;
    }

    div.smartphone .burger .stack:nth-child(3) {
        top: 26px;
    }


    main {
        height: 600px;
    }

    main img {
        top: 5rem;
        right: .8rem;
    }

    .container {
        width: 270px;
        top: 330px;
        left: 30px;
    }


    .container h3 {
        right: 15px;
    }

    .button {
        left: 35%;
        top: 650px;
    }

    .container .subcon1 p,
    .subcon2 p,
    .subcon3 p {
        text-align: left;
        font-size: 1.3em;
        text-indent: 40px;
    }

    div.button {
        top: 38rem;
        left: 9rem;
        right: 1rem;
    }

    #about {
        height: 900px;
    }

    #about h2 {
        font-size: 15px;
        left: 35%;
    }

    #about .who {
        left: 4.7rem;
    }

    #about .who .slide-up h4 {
        position: absolute;
        width: 100%;
        height: 25rem;
        text-align: center;
        line-height: 500px;
        color: rgb(230, 228, 228);
        background-color: rgba(2, 2, 2, 0.466);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #about .what {
        left: 4.7rem;
        top: 460px;
    }

    #products {
        height: 800px;
    }


    #products h2 {
        left: 32%;
    }

    #products .container-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10%;
        width: 100%;
        height: 700px;
    }

    #products .container-products .products1,
    .products2 {
        width: 60%;
        height: 18rem;
        margin: 20px;
    }

    #products .container-products .products1 {
        position: absolute;
        top: 3px;
        right: 15%;
        display: inline-block;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
        border-radius: 10px;
        overflow: hidden;
    }

    #products .container-products .products2 {
        position: absolute;
        top: 350px;
        left: 15%;
        display: inline-block;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
        border-radius: 10px;
        overflow: hidden;
    }

    footer {
        height: 150px;
    }

    footer p {
        font-size: .8em;
    }

    footer .sos {
        height: 50px;
    }

    footer .sos .wall {
        height: 50px;
    }

    footer .sos a img {
        width: 30px;
    }

    footer .copy h5 {
        font-size: .5em;
    }
}